/* Functional CSS */
/* Nav Bar */
.portletZimbraMail .foldersView,
.portletZimbraMail .emailsView,
.portletZimbraMail .emailView,
.portletZimbraMail .newEmailView,
.portletZimbraMail .statusBar,
.portletZimbraMail .progressBar,
.portletZimbraMail .bulkActionsBar,
.portletZimbraMail .navBarFolders,
.portletZimbraMail .navBarEmails,
.portletZimbraMail .navBarEmail,
.portletZimbraMail .navBarNewEmail {
  display: none;
}
.portletZimbraMail .emails .navBarEmails,
.portletZimbraMail .emails .emailsView,
.portletZimbraMail .email .navBarEmail,
.portletZimbraMail .email .emailView,
.portletZimbraMail .newEmail .navBarNewEmail,
.portletZimbraMail .newEmail .newEmailView,
.portletZimbraMail .folders .navBarFolders,
.portletZimbraMail .folders .foldersView {
  display: block;
}

/* Portlet Body */
.portletZimbraMail .portletBody {
  background-color: #ffffff;
  padding: 7px 9px;
}

/* Main Pane */
.portletZimbraMail .mainPane {
  height: 300px;
  overflow: auto;
}
.portletZimbraMail .mainPane .pane {
  height: 300px;
}

/* Navigation Bar */
.portletZimbraMail .navBar {
  display: block;
  height: 37px;
  width: 100%;
  position: relative;
  background-color: #cccccc;
  margin-bottom: 7px;
}

.portletZimbraMail .navBar .button {
  font-size: 11px;
  font-weight: bold;
  color: #444444;
  cursor: pointer;
  display: inline-block;
/*  vertical-align: middle;*/
  padding: 0 2px;
  white-space: nowrap;
  height: 20px;
  border: 1px solid #999999;
  border-radius: 4px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.portletZimbraMail .navBar .button:hover {
  border-color: #555555;
}

.portletZimbraMail .navBar .refreshButton {
  background: transparent url('++resource++vnccollab.theme.images/reload.png') no-repeat 0 0;
  width: 20px;
  text-indent: -9999px;
  background-size: 20px 20px;
  padding: 0;
}
.portletZimbraMail .inprogress .refreshButton {
  background: transparent url('++resource++vnccollab.theme.images/spinner_arrows_nav.gif') no-repeat 2px 2px;
}

.portletZimbraMail .navBar .navBarGroup {
  line-height: 37px;
  width: 100%;
  position: relative;
  text-align: center;
}

.portletZimbraMail .navBar .label {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Folders Nav Bar */
.portletZimbraMail .navBarFolders {
  text-align: center;
}

/* Emails Nav Bar */
/*.portletZimbraMail .navBarEmails .buttons1 {*/
.portletZimbraMail .buttons1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 8px;
}
/*.portletZimbraMail .navBarEmails .buttons2 {*/
.portletZimbraMail .buttons2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    padding-top: 8px;
}

/* Emails Listing */
.portletZimbraMail .emailItem {
  display: block;
  padding: 4px 4px 4px 8px;
  height: 34px;
  font-size: 13px;
  position: relative;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #eeeeee;
}
.portletZimbraMail .emailItem.selected {
  background: #eeeeee url('++resource++vnccollab.theme.images/small_rarrow.png') no-repeat 0 16px;
}
.portletZimbraMail .emailItem.unread {
  background-color: #ffffff;
}
.portletZimbraMail .emailItem:hover {
  background-color: #cccccc;
}
portletZimbraMail .emailItem .emailSubject {
  display: none;
}
.portletZimbraMail .emailItemBody {
  cursor: pointer;
}

/* Single Email/Conversation Pane */
.portletZimbraMail .emailView {
  background-color: #eeeeee;
  position: relative;
}
.portletZimbraMail .emailView .spinner {
  display: none;
}
.portletZimbraMail .emailView .emailSubject {
  padding: 5px 7px 1px 7px;
  font-size: 14px;
  font-weight: bold;
}
.portletZimbraMail .inprogress .emailView .emailThread {
  display: none;
}
.portletZimbraMail .inprogress .emailView .spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 103;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
}
